<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lightstick
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
      <ion-card>
        <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/emqxmjbuwaan8jd1-e845bd032a0ca2233616052347738878-1024-1024.jpg" alt=" ">
        <ion-card-content>
          <p>
            <strong>
              Lightstick Blackpink Official
            </strong>
          </p>
          <p class="ion-text-right">
            <ion-badge>
              425,00
            </ion-badge>
          </p>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/fctbndlucakregu1-0552baf4874c1ff06d16349208104270-1024-1024.jpeg" alt=" ">
          <ion-card-content>
            <p>
              <strong>
                Lightstick Bangtan Sonyeondan Official
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge>
                232,00
              </ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
