<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Álbuns </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Pesquise"></ion-searchbar>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/txt_the_dream_chapter_star_cover_art1-3a86cd2fceee7f361315740339198830-1024-1024.png"
      />
    </ion-thumbnail>

    <ion-label>The Dream Chapter: Star</ion-label>

    <ion-badge color="medium">202,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/s-l1600-31-31b22d1fd7445af8b216285179705023-1024-1024.jpg"
      />
    </ion-thumbnail>

    <ion-label>The Chaos Chapter: Fight Or Escape</ion-label>

    <ion-badge color="medium">162,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/txt-the-dream-chapter-eternity-random1-ab10979a36fbf3288015881050223183-1024-1024.jpg"
      />
    </ion-thumbnail>

    <ion-label>The Dream Chapter: Eternity</ion-label>

    <ion-badge color="medium">192,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/1_txt_freeze_4_all_8edeb6b08df102fceeb0162e6da271eb1-c42072ba424445152516198063749107-1024-1024.jpg"
      />
    </ion-thumbnail>

    <ion-label>The Chaos Chapter: Freeze</ion-label>

    <ion-badge color="medium">212,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img
        src="https://d3ugyf2ht6aenh.cloudfront.net/stores/987/955/products/1570722549-w5k6e3c1-325af4654d1d5ca28815740341579483-1024-1024.jpg"
      />
    </ion-thumbnail>

    <ion-label>The Dream Chapter: Magic</ion-label>

    <ion-badge color="medium">202,00</ion-badge>
  </ion-item>
</ion-content>
