
  <ion-header [translucent]="true">

    <ion-toolbar>

      <ion-title>

        Sobre

      </ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card>
      <img src="https://64.media.tumblr.com/94f44234c4632024245e09bcf3582c37/eb7a25e98828a76c-34/s1280x1920/8cd27deef90e9d4167744a140a5df4382e0fbb56.jpg" alt=" ">
    </ion-card>

    <ion-card>

      <ion-card-header>

        <ion-card-title>Desenvolvido por</ion-card-title>

      </ion-card-header>



      <ion-item href="#" class="ion-activated">

        <ion-icon name="person-circle" slot="start"></ion-icon>

        <ion-label>choi beom-gyu</ion-label>

      </ion-item>
      <ion-item href="#" class="ion-activated">

        <ion-icon name="mail" slot="start"></ion-icon>

        <ion-label>choibeomgyutxt@hotmail.com</ion-label>

      </ion-item>




      <ion-item href="#" class="ion-activated">

        <ion-icon name="earth" slot="start"></ion-icon>

        <ion-label>txtbeomgyufansite.com.br</ion-label>

      </ion-item>



      <ion-item href="#" class="ion-activated">

        <ion-icon name="logo-instagram" slot="start"></ion-icon>

        <ion-label>@official_beomgyu</ion-label>

      </ion-item>
      <ion-item href="#" class="ion-activated">

        <ion-icon name="checkmark-circle" slot="start"></ion-icon>

        <ion-label>0.0.1</ion-label>

      </ion-item>




    </ion-card>
</ion-content>
